<div class="layout">
  <div class="inputs">
    <label>DiploDuplo: <input type="number" [(ngModel)]="diploDuploDicesAmount"></label>
    <label>Pieski: <input type="number" [(ngModel)]="dogDicesAmount"></label>
  </div>
  <div>
    Kostki Diplo Duplo: {{ diploDuploDicesAmount }}
    Kostki z pieskami: {{ dogDicesAmount }}
  </div>
  <input type="button" value="RZUĆ KOŚCMI 10000x!" (click)="multipleThrowDices(10000)">
  <input type="button" value="Reset" (click)="results = []">

  Srednia wynikow: {{ averagePoints }}

  <table>
    <thead>
      <th>
        Razem DiploDuplo
      </th>
      <th>
        Aktywnych DiploDuplo
      </th>
      <th>
        Razem Pieskow
      </th>
      <th>
        Aktywnych Pieskow
      </th>
      <th>
        Wynik
      </th>
      <th>
        Ilość rzutów
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let data of results">

        <td >
          {{ data.diploDuploTotal }}
        </td>
        <td >
          {{ data.diploDuploActive }}
        </td>
        <td >
          {{ data.dogsTotal }}
        </td>
        <td >
          {{ data.dogsActive }}
        </td>
        <td >
          {{ data.totalPoints }}
        </td>
        <td >
          {{ data.bustIn }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
